.repo/
linux/
out/
out-br/
out-br_4_4/
toolchains/
u-boot/simple-bin.map/
u-boot/drivers/video/u_boot_logo.S/
gcc-linaro-7.3.1-2018.05-x86_64_aarch64-linux-gnu/
gcc-linaro-7.3.1-2018.05-x86_64_aarch64-linux-gnu.tar.xz
rockchip-mali-midgard14_1.6-2_arm64.deb
combine_maliso_openclso_rodinia/usr/bin/rodinia-data/
